.title {
    font-size: 20px;
    color: red;
    font-family: Verdana;
    text-align: center;
    position: center;
}

.playBtn {
    background-color: lightcoral;
    font-family: Verdana;
}

.answerBtn {
    background-color: lightcoral;
    font-family: Verdana; 
}